/*common reset*/
*{
	margin: 0; 
	padding: 0;
}
html,body{
	font: 12px Arial, 宋体, "Helvetica Neue", Helvetica, "Hiragino Sans GB", sans-serif;
}
ul,li{
	list-style: none;
}
a{
	color: #333;
	text-decoration: none;
}
/*end*/

.wrap{
	width: 1000px;
	margin: 0 auto;
	color: #ccc;
}

.top{
	line-height: 30px;
	background-color: #333;
}


.top-nav{
	background-color: #ccc;
	line-height: 35px;
}

.top-nav li{
	float: left;
	border-right: 1px solid #999;
}

.top-nav > li > a{
	display: block;
	width: 80px;
	text-align: center;
}
.top-nav > li > a:hover{
	color: #eee;
	background-color: #666;
}

footer{
	line-height: 50px;
	background-color: #333;
}

@media screen and (max-width: 660px){
	.wrap{
		width: 100%;
	}
	.recommend-sites > .site-row > ul{
		padding-top: 5px;
		padding-left: 13px;
	}
	.section{
		border-left: none !important;
		border-right: none !important;
	}
}
