.product_wrap{

	
	padding: 20px;
}
.product_inside{
	
	height:auto;
	margin: 10px;
	
}
.product_top_tab{
	height:50px;
	border-bottom: 1px solid #b6b6b6;
}
.product_title{
	line-height: 70px;
}
.product_content{
	position: relative;
	width: 100%;
	height: 100%;
	background: #eee;

}
.product_item{

	margin-top: 5px;
	width: 100%;
	height: 31px;
    overflow: hidden;
	background: #fff;
}
.product_item_title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #f5f5f5;
	color: #aaa;
	border-bottom: 1px solid #dedede;
}
/*.product_item_title:hover{
	background: #fff5f5;
}*/
.product_item_title_left{
    width: 100px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
    cursor: pointer;
	display: inline;
}
.product_item_title_right{
	float: right;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline;
}
.product_item_title_right:hover{
	cursor:pointer;
}
.product_item_content{
    padding: 30px;
}
.product_img{
	height: 200px;
	display: inline;
}
.product_list{
    position: relative;
	
	background: #900;
}
.product_list .product_list_item{
	display: inline-block;
	position: absolute;
	left: 850px;
	top: 0px;
}
.product_shortcut{
	
	margin:30px;
}
.product_shortcut img{
	width: 450px;
	height: 200px;
	
}
.arroy{
	font-size: 50px;
	color: rgba(200,200,200,0.3);
	position: relative;
	
	cursor: pointer;
	z-index: 1;
}
.arroy:hover{
	color: #f99;
}
.arroy_left{
    width: 50px;
	margin-top: 100px;
   margin-left: 50px;
}
.arroy_right{
	width: 50px;
	margin-top: -80px;
   margin-left: 800px;
}
.modules{
	margin-bottom: 30px;
	zoom:1;
	overflow: hidden;
	padding-top: 20px;
}
.module{
	background: #fff;
	color: #999;
	display: inline;
	float: left;
	margin-bottom: 15px;
	margin-left: 20px;
	overflow: hidden;
	padding:4px 6px 4px 10px;
	width: 170px;
	height: 60px;
	border: 1px solid #dbdbdb;
	border-left: 5px solid #b4d0ee;
	position: relative;
	border-radius: 6px;
	box-shadow: 2px 2px 0px rgba(0,0,0,0.05);
}
.module:hover{
	border-right:1px solid #b0b0b0;
	border-top:1px solid #b0b0b0;
	border-bottom:1px solid #b0b0b0;
	color: #666;
}
.module a{
	display: inline-block;
	font-size:18px;
	max-width: 145px;
	color: #333;
	overflow: hidden;
	text-overflow:ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
	text-decoration: capitalize;
}
.module a:hover{
	text-decoration: underline;
}
.module_version{
	font-size: 12px;
	color: #aaa;
	display: none;
}
.module_description{
	margin: 5px 0 0 0;
	font-size: 12px;
	line-height: 1.5;
	height: 36px;
}