html{
	background: #666;
}
body{
  background: #666;	
  margin: 0;
}
#bib{
	position: absolute;
	
	left:100px;
	top:100px;
	opacity:0.6;
	

}
#mib{
	position: absolute;
	left:100px;
	top:100px;
	clip:rect(0px,200px,200px,0);
	/*overflow: visible;*//*如果添加overflow:visible那么clip将不起作用;*/
}
#select_box{
	position: absolute;
	left: 100px;
	top: 100px;
	width: 200px;
	height:200px;
	border:2px solid #fff;
	margin-top: -1px;
	margin-left: -1px;
	cursor:move;
}
.small_box{
	
	position: absolute;
	width: 10px;
	height: 10px;
	background: #fff  	;
	z-index: 1;
}
#small_box1{
	left: 0px;
	top: 0px;
	margin-left: -5px;
	margin-top: -5px;
	cursor: nw-resize;
}
#small_box2{
	left: 50%;
	top: 0px;
	margin-left: -4px;
	margin-top: -5px;
	cursor: n-resize;
}
#small_box3{
	left: 100%;
	top: 0px;
	margin-left: -3px;
	margin-top: -5px;
	cursor: ne-resize;
}
#small_box4{
	left: 100%;
	top: 50%;
	margin-left: -3px;
	margin-top: -4px;
	cursor: e-resize;
}
#small_box5{
	left: 100%;
	top: 100%;
	margin-left: -3px;
	margin-top: -3px;
	cursor: se-resize;
}
#small_box6{
	left: 50%;
	top: 100%;
	margin-left: -4px;
	margin-top: -3px;
	cursor: n-resize;
}
#small_box7{
	left: 0;
	top: 100%;
	margin-left: -5px;
	margin-top: -3px;
	cursor: sw-resize;
}
#small_box8{
	left: 0;
	top: 50%;
	margin-left: -5px;
	margin-top: -4px;
	cursor: w-resize;
}
#preView{

	position: absolute;
	left: 900px;
	top:100px;
	/*width: 100px;*/
	background: #89c;
}
#preViewImg{
	width: 200px;
	height: 200px;
	background: url(../images/image1.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px; 
}