
.right_border_gray{
    border-right: 1px solid #fff !important;
    background: #fff !important;	
    color: #ff5b97;
}
.right-content{
		position:relative;
		left:-1px;
		width:998px;
		height:auto;
		overflow:visible;
		border:1px solid #ccc;
		text-align: left;
		display: inline-block;
		float: right;
}
.right-content .item{
	float: left;
    width: 150px;
    height:200px;
	display: inline-block;
	background: #edd;
	margin: 20px;
}
/*.right-content ul li:hover{
	border: 1px solid #993333;
}*/
