.content_item{
	display: table;
	
	min-width:1200px;
}


.primary_nav{
	position: relative;
	width: 260px;
	/*height:300px;*/
	background: #edeff0;
	float: left;
	border-top: 1px solid #ccc;
	z-index: 1;
	display: inline-block;
	
	
}
.primary_nav ul{

	background: #080;
	padding: 0px;
	
	
}
.primary_nav ul li{
    text-align: center;
	background: #edeff0;
	padding: 10px;
	color: #2b2b2b;
	font: 14px/1.0 "Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
	border: 1px solid #dedede;
	border-top: 0px solid #dedede;
}
.primary_nav ul li:hover{

	/*background: #ddd;*/
	color: #ff5b97;
	padding: 10px;
	
	font: 14px/1.0 "Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
    cursor:pointer;
}
.left_border_red{
	color: #ff5b97 !important;
	border-left: 10px solid #ff5b97 !important;
	-webkit-transition: all 0.2s ease-in-out;
}

.design_wrap{

	position: relative;
	background: #edeff0;
	width: 910px;
    min-height:500px;
	float: left;
	left:20px;
	border: 1px solid #edeff0;

}
.design_wrap img{
	width:200px;
	margin:20px 0px 0px 20px;
	border: 1px solid #ccc;
}
/*returnTop*/
p#back-to-top{
    position:fixed;
    display:none;
    bottom:100px;
    right:80px;
    z-index: 2;
}
p#back-to-top a{
    text-align:center;
    text-decoration:none;
    color:#d1d1d1;
    display:block;
    width:64px;
    /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
    -moz-transition:color 1s;
    -webkit-transition:color 1s;
    -o-transition:color 1s;
}
p#back-to-top a:hover{
    color:#979797;
}
p#back-to-top a span{
    background: url(http://outofmemory.cn/ugc/upload/00/07/20121202/go-top-light-green.png?1202) no-repeat -25px -290px;
    border-radius:6px;
    display:block;
    height:64px;
    width:56px;
    margin-bottom:5px;
    /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
    -moz-transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s;
}
#back-to-top a:hover span{
    background: url(http://outofmemory.cn/ugc/upload/00/07/20121202/go-top-light-green.png?1202) no-repeat -25px -290px;
}
