.content_item{
	display: table;
	
	min-width:1200px;
}


.primary_nav{
	position: relative;
	width: 200px;
	/*height:300px;*/
	background: #eee;
	float: left;
	border-top: 1px solid #ccc;
	z-index: 1;
	display: inline-block;
	
	
}
.primary_nav ul{

	background: #080;
	padding: 0px;
	
	
}
.primary_nav ul li{
    text-align: center;
	background: #eee;
	padding: 10px;
	color: #2b2b2b;
	font: 14px/1.0 "Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
	border: 1px solid #ccc;
	border-top: 0px solid #ccc;
}
.primary_nav ul li:hover{

	/*background: #ddd;*/
	color: #ff5b97;
	padding: 10px;
	
	font: 14px/1.0 "Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;
    cursor:pointer;
}
.left_border_red{
	color: #ff5b97 !important;
	border-left: 10px solid #ff5b97 !important;
	-webkit-transition: all 0.2s ease-in-out;
}

.design_wrap{

	position: relative;
	background: #eee;
	width: 900px;
    min-height:500px;
	float: left;
	left:50px;
	border: 1px solid #ccc;

}
.design_wrap img{
	width:200px;
	margin:20px 0px 0px 20px;
	border: 1px solid #ccc;
}
